@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.dark .background {
  background: #000;
  color: white;
}

.background span {
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.poem-container {
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center;
}

.poem-container * {
  font-family:
    var(--font-pixel-mono), "Noto Sans SC", "PingFang SC", "Microsoft YaHei",
    sans-serif;
}

.poem-container h1 {
  font-size: 120%;
  font-weight: 700;
  margin-bottom: 2rem;
  font-family:
    var(--font-pixel), "Noto Sans SC", "PingFang SC", "Microsoft YaHei",
    sans-serif;
}

.poem-container p {
  font-size: 100%;
  line-height: 2.5;
  margin: 0.5rem 0;
}

.poem-container h1:lang(zh),
.poem-container p:lang(zh) {
  font-family: "Noto Sans SC", "PingFang SC", "Microsoft YaHei", sans-serif;
}
