@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.dark .background {
  background: #000;
  color: white;
}

.background span {
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.poem-container {
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center;
}

.poem-container h1 {
  font-size: 200%;
}
